<form method="post" action="/">
 
 <input type="text" id="fname" name="fname">name:<br>
 <br>
 <input type="text" name="age">age:
 <br>
 <input type="text" name="dep">dep:
 <br>
 <input type="text" name="dep">date of joining:
 <br>
 <input type="submit">
</form>